body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
a{
  color: seashell;
  text-decoration: underline;
}
.header{
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  background-color: black;
}
.header img{
  height: 50px;
  padding-left: 10px;
}
.navigation{
  padding-right: 10px;
}
.navigation span{
  text-decoration: underline;
  padding-left: 30px;
}
.main{
  display: flex;
  height: 700px;
  width: 1200px;
  margin: 70px auto 0 auto;
  align-items: center;
  background-image: url(https://github.com/zerlentes/TeaCozy/blob/master/resources/photos/img-locations-background.jpg?raw=true);
}
.mission{
  margin: auto;
  background-color: black;
  width: 1200px;
  height: 90px;
}
h2{
  text-align: center;
  margin: 10px 0px;
}
h4{
  text-align: center;
  margin: 10px 0px;
}
.tea{
  padding-top: 70px;
}
.images{
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.images img{
  width: 300px;
  height: 200px;
  padding: 10px;
}
.berry{
  display: flex;
  flex-direction: column;
}
.rum{
  display: flex;
  flex-direction: column;
}
.donut{
  display: flex;
  flex-direction: column;
}
.myrtle{
display: flex;
flex-direction: column;
}
.bedford{
  display: flex;
  flex-direction: column;
}
.bottom{
  display: flex;
  justify-content: center;
}
.locations{
  width: 1200px;
  height: 500px;
  background-image: url(https://github.com/zerlentes/TeaCozy/blob/master/resources/photos/img-locations-background.jpg?raw=true);
  margin: 90px auto 10px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.locations h2{
  padding-top: 60px;
  margin-bottom: 15px;
}
.containers{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.container{
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
.contact{
  height: 200px;
  text-align: center;
}
.contact h2{
  padding-bottom: 10px;
}
.copy{
  padding-left: 20px;
}
