body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
.header{
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  background-color: black;
}
.header img{
  height: 50px;
  padding-left: 10px;
}
.navigation{
  padding-right: 10px;
}
.navigation span{
  text-decoration: underline;
  padding-left: 30px;
}
.main{
  display: flex;
  height: 700px;
  width: 1200px;
  margin: 70px auto 0 auto;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}
.mission{
  margin: auto;
  background-color: black;
  width: 1200px;
  height: 90px;
}
h2{
  text-align: center;
  margin: 10px 0px;
}
h4{
  text-align: center;
  margin: 10px 0px;
}
.tea{
  padding-top: 70px;
}
.images{
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.images img{
  width: 300px;
  height: 200px;
  padding: 10px;
}
.berry{
  display: flex;
  flex-direction: column;
}
.rum{
  display: flex;
  flex-direction: column;
}
.donut{
  display: flex;
  flex-direction: column;
}
.myrtle{
display: flex;
flex-direction: column;
}
.bedford{
  display: flex;
  flex-direction: column;
}
.bottom{
  display: flex;
  justify-content: center;
}
